*.pyc
*.private
*.log
.DS_Store
Desktop.ini
._*
Thumbs.db
.Spotlight-V100
.Trashes
bin/composer

# vim
tags
vim/bundle/*
vim/undo/*
viminfo.*
.netrwhist
*~

# exceptions
!.keep
!vim/bundle/Vundle.vim
