[include]
  path = .gitconfig.private
[color]
  ui = true
[color "branch"]
  current = yellow reverse
  local = yellow
  remote = green
[color "diff"]
  meta = yellow
  frag = magenta
  old = red
  new = green
[color "status"]
  added = yellow
  changed = green
  untracked = cyan
[color "diff"]
  whitespace = red reverse
[core]
  whitespace=fix,-indent-with-non-tab,trailing-space,cr-at-eol
  editor = /usr/bin/env nvim

[pager]
    # Use colors when paging regardless of default color setting.
    color = true

    diff = diff-so-fancy | less --RAW-CONTROL-CHARS --quit-if-one-screen --no-init --tilde --clear-screen --status-column 
    show = diff-so-fancy | less --RAW-CONTROL-CHARS --quit-if-one-screen --no-init --tilde --clear-screen --status-column
[alias]
  s = status
  c = commit --verbose
  cm = commit -m
  br = branch
  ch = checkout
  cp = cherry-pick
  lg = log -p
  lol = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
  lola = log --graph --decorate --pretty=oneline --abbrev-commit --all
[push]
  default = tracking
[branch]
  autosetuprebase = always
[rerere]
	enabled = false
[diff]
	tool = opendiff
[difftool]
	prompt = false
[merge]
	tool = opendiff
[mergetool]
	keepBackup = false
